* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  display: none;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 20;
}

@media (max-width: 786px) {
  .hamburger {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}

.ham {
  transform-origin: 1px;
  transition: all 0.3s  linear;
}
